/* Switzer Variable Font with Safari compatibility improvements */
@font-face {
  font-family: 'Switzer';
  src: url('/assets/WEB/fonts/Switzer-Variable.woff2') format('woff2'),
       url('/assets/WEB/fonts/Switzer-Variable.woff') format('woff'),
       url('/assets/WEB/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  /* Safari compatibility */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Switzer';
  src: url('/assets/WEB/fonts/Switzer-VariableItalic.woff2') format('woff2'),
       url('/assets/WEB/fonts/Switzer-VariableItalic.woff') format('woff'),
       url('/assets/WEB/fonts/Switzer-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  /* Safari compatibility */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Static Extrabold for Safari compatibility - Safari sometimes has issues with variable fonts */
@font-face {
  font-family: 'Switzer';
  src: url('/assets/WEB/fonts/Switzer-Extrabold.woff2') format('woff2'),
       url('/assets/WEB/fonts/Switzer-Extrabold.woff') format('woff'),
       url('/assets/WEB/fonts/Switzer-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

